#stones{
    float: left;
    padding-right : 40px;
}

#pounds{
    float: left;
    padding-right : 40px;
}

#kgs{
    float: left;
    padding-right : 40px;
}


#feet{
    float: left;
    padding-right : 40px;
}

#inches{
    float: left;
    padding-right : 40px;
}

#metres{
    float: left;
    padding-right : 40px;
}